body{
  background-color: rgba(0,0,0,.8);
}
.wrap{
  position:absolute;
  width:400px;
  height:100%;
  left:calc(50% - 200px);
  top:0;
  background-color: #f6edff;
}
.wrap .title{
  text-align: center;
  margin:100px 0 0;
  padding-bottom:5px;
  font-size: 22px;
}
.wrap .desc{
  text-align: center;
  padding:5px;
  height:70px;
  position: relative;
  z-index: 10;
}
.wrap .desc .recommend{
  display: block;
  margin: 5px auto;
  border: none;
  padding:5px 10px;
  background-color: var(--light-purple);
  color:var(--white);
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
}
.wrap .desc .recommend:active{
  background-color: var(--purple);
 
}
.wrap .desc::before{
  content:'';
  background-color:var(--purple-btn-border);
  position: absolute;
  width:150px;
  height:75px;
  top:3px;
  left:20%;
  border-radius: 75px 75px 0 0;
  z-index: -1;
}
.wrap .desc::after{
  content:'';
  background-color:var(--purple-btn-border);
  position: absolute;
  width: 40px;
  height:40px;
  top:-10px;
  right:20%;
  border-radius: 50%;
}

.wrap .wrap-closet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0 10px;
  position:relative;
}

.wrap .wrap-closet #main-closet{
  width:250px;
  cursor: pointer;
  box-shadow: 2px 2px 10px var(--purple);
}
/* .wrap .wrap-closet #opencloset{
  position:absolute;
  width:150px;
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  padding: 20px;
  border:none;
  box-sizing: border-box;
  font-size:20px;
  letter-spacing: 5px;
  border-radius: 12px;
  background-color: var(--light-purple-rgba);
  color:var(--white);
  display: none;
  cursor: pointer;

}
.wrap .wrap-closet:hover #opencloset{
  display: block;

} */
.wrap .wrap-closet .enter-desc{
  padding:20px;
  position:relative;
  font-weight: 700;
}
.wrap .wrap-closet .enter-desc::before{
  content:'';
  width:130px;
  height:10px;
  background-color: var(--purple-btn-border);
  position:absolute;
  top:30px;
  left:25px;
}
.wrap .right-wrap #upload_btn{
  font-size: 50px;
  position:absolute;
  bottom:30px;
  right:30px;
  color:var(--purple);
}